<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<%-include('layouts/header');-%>
	</head>
	<body>
		<%-include('layouts/navbar');-%>
	<div class="login-form-container">
		<form class="login-form">
			<input type="text" id="username" name="username" placeholder="username">
			<br>
			<input type="password" id="password" name="username" placeholder="password">
			<button type="submit" id="submit-button">Login</button>
		</form>
	</div>	

	<script>

		const submitButton = document.getElementById('submit-button');

		submitButton.addEventListener('click', async function(event){
			event.preventDefault();
			await loginHandler();
			loginHandler().then(responseData =>{
				console.log(responseData);
				localStorage.setItem('refreshToken', responseData.userRefreshToken);
				localStorage.setItem('username', responseData.username);
				window.location.href = 'http://localhost:3000/ejs-testing/';
			})
		})

		async function loginHandler(){
			const username = document.getElementById("username").value;
			const password = document.getElementById("password").value;
			console.log("Username: " + username);
			console.log("Password: " + password);
			const response = await fetch('http://localhost:3000/ejs-testing/login/', {
				method:'POST',
				headers:{
					'Content-type':'application/json'
				},
				body: JSON.stringify({username:username, password:password})
			})
			const responseData = await response.json();
			console.log(responseData);
			return responseData;
	}
	</script>
	
	</body>
</html>
