<nav>
   <ul>
      <a href="/ejs-testing/login">Login</a>
      <a href="/ejs-testing">Test Home</a>
      <a href="/ejs-testing/communityPosts">Comm. Posts</a>
      <a href="/ejs-testing/exchangeListings">Ex. Listing</a>
      <a href="/ejs-testing/notifications">Notifications</a>
      <a href="/ejs-testing/forumPosts">Forum Posts</a>
      <a href="/ejs-testing/plants">Plants</a>
      <a href="/ejs-testing/userPlants">User Plants</a>
      <a href="/ejs-testing/gardens">Gardens</a>
      <a href="/ejs-testing/sproutShareUsers">Users</a>
   </ul>
</nav>