<nav>
   <ul>
      <a href="/ejs-testing">Test Home</a>
      <a href="/ejs-testing/communityPosts">Comm. Posts</a>
      <a href="/ejs-testing/exchangeListings">Ex. Listing</a>
      <a href="/ejs-testing/notifications">Notifications</a>
      <a href="/ejs-testing/plantTypes">Plant Types</a>
   </ul>
</nav>