<nav>
   <ul>
      <a href="/">Home</a>
      <a href="/communityPosts">Comm. Posts</a>
      <a href="/exchangeListings">Ex. Listing</a>
      <a href="/notifications">Notificaitons</a>
   </ul>
</nav>